@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Metrophobic', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin-top: -2px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 8px 10%;
    background-color: #edf0f1;
    transition: all 0.6s;
    box-shadow: 0px 2px 15px rgba(75, 75, 75, 0.4);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: -9px;
    left: -25px;
}

.logoHeading {
    font-family: 'Metrophobic', sans-serif;
    display: inline;
    font-size: 22px;
    font-weight: 600;
    margin-left: -8px;
    margin-top: 4px;
    color: #5e0a07;
}

li,
a,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: rgb(12, 14, 127);
    padding: 8px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: -60px;
    position: relative;
    top: -6px;
}

button:hover {
    background-color: rgba(32, 35, 188, 0.9);
}

.nav-links a {
    color: rgb(0, 0, 0);
    position: relative;
    top: 5px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover,
.menu li a.active {
    color: #0a5163;
    text-decoration: underline;
}

.menu li {
    padding: 5px 10px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 1030px) and (min-width: 400px) {
    .navbar {
        border: none;
        box-shadow: 0px 2px 15px rgba(113, 113, 113, 0.4);
    }

    .logoHeading {
        font-family: 'Metrophobic', sans-serif;
        display: inline;
        font-size: 22px;
        font-weight: 600;
        margin-left: -12px;
    }

    .logo-img-div img {
        width: 115px;
    }

    .top {
        margin-top: 25px;
    }

    .menu {
        margin-top: 22px;
        display: none;
        position: absolute;
        background-color: #edf0f1;
        color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        height: 87vh;
        z-index: -20;
    }

    button {
        position: relative;
        top: 5px;
        left: -27px;
    }

    .menu li:hover,
    .menu li a.active {
        color: #0a5163;
        text-decoration: underline;
    }

    .menu li+li {
        margin-top: 20px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 23px;
    }
}

@media (max-width: 400px) and (min-width: 260px) {
    .navbar {
        height: 70px;
        border: none;
        box-shadow: 0px 2px 15px rgba(113, 113, 113, 0.4);
    }

    .logoHeading {
        font-family: 'Metrophobic', sans-serif;
        display: inline;
        font-size: 21px;
        font-weight: 600;
        margin-left: -12px;
    }

    .logo-img-div img {
        width: 105px;
    }

    .top {
        margin-top: 25px;
    }

    .menu {
        margin-top: 20px;
        display: none;
        position: absolute;
        background-color: #edf0f1;
        color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        height: 88vh;
        z-index: -20;
    }

    li,
    a {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
    }

    button {
        position: relative;
        top: 0px;
        left: -26px;
        font-size: 13px;
    }

    .menu li:hover,
    .menu li a.active {
        color: #0a5163;
        text-decoration: underline;
    }

    .menu li+li {
        margin-top: 20px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 18px;
    }
}

@media (max-width: 260px) and (min-width: 220px) {
    .navbar {
        height: 70px;
        border: none;
        box-shadow: 0px 2px 15px rgba(113, 113, 113, 0.4);
    }

    .logoHeading {
        font-family: 'Metrophobic', sans-serif;
        display: inline;
        font-size: 21px;
        font-weight: 600;
        margin-left: -12px;
    }

    .logo-img-div img {
        width: 105px;
    }

    .top {
        margin-top: 25px;
    }

    .menu {
        margin-top: 5px;
        display: none;
        position: absolute;
        background-color: #edf0f1;
        color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        height: 90vh;
    }

    li,
    a {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
    }

    button {
        position: relative;
        top: 0px;
        left: -26px;
        font-size: 13px;
    }

    .menu li:hover,
    .menu li a.active {
        color: #0a5163;
        text-decoration: underline;
    }

    .menu li+li {
        margin-top: 20px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 18px;
        position: absolute;
        top: 22px;
        right: 28px;
    }
}

@media (max-width: 220px) {
    .navbar {
        height: 70px;
        border: none;
        box-shadow: 0px 2px 15px rgba(113, 113, 113, 0.4);
    }

    .logo-text-div {
        display: none;
    }

    .logo-img-div img {
        width: 105px;
    }

    .top {
        margin-top: 25px;
    }

    .menu {
        margin-top: 5px;
        display: none;
        position: absolute;
        background-color: #edf0f1;
        color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        height: 90vh;
    }

    li,
    a {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
    }

    button {
        position: relative;
        top: 0px;
        left: -26px;
        font-size: 13px;
    }

    .menu li:hover,
    .menu li a.active {
        color: #0a5163;
        text-decoration: underline;
    }

    .menu li+li {
        margin-top: 20px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 18px;
        position: absolute;
        top: 22px;
        right: 28px;
    }
}


.rowh {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left{
    padding-left: 110px;
    margin-top: 90px;
    width: 50%;
}

.right{
    margin-top: 90px;
    padding-right: 140px;
}

.main-text {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bolder;
}

.sub-text {
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #240827;
    font-weight: 800;
    opacity: 0.5;
    margin-bottom: -1px;
}

.sub-text-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    width: 90%;
    line-height: 1.5;
    margin-top: 10px;
}

@media (max-width: 580px) and (min-width: 400px) {
    .rowh {
        margin: 50px auto;
    }

    .main-text {
        font-size: 26px;
    }

    .main-text .promo {
        font-size: 24px;
    }

    .sub-text {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .rowh {
        margin: 50px auto;
    }

    .main-text {
        font-size: 23px;
    }

    .main-text .promo {
        font-size: 21px;
    }

    .sub-text {
        font-size: 14px;
    }
}

#about {
    margin-top: 20px;
}

.aboutH{
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    margin-top: -10px;
}

.aboutSt{
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #240827;
    font-weight: 800;
    opacity: 0.5;
    margin-bottom: 30px;
    margin-top: -30px;
}

p.aboutSt1{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
}

p.aboutSt2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    opacity: 0.8;
    color: #240827;
}

#aboutImg{
    margin-left: 160px;
}

#menu{
    margin-top: 120px;
}

.menuH{
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bolder;
}

#menuImg{
    margin-left: 100px;
    margin-top: 20px;
}

#register{
    margin-top: 280px;
}

.mmm{
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

#regBtn{
    position: relative;
    top: 20px;
}

#myForm{
    width: 90%;
    margin: 0 auto;
}

.form-control{
    width: 50%;
}
